.header{
    width: 100%;
}

.toolbar{
    background-color: black;
    color: azure;
    height: 64px;
}


span{
    display: inline;
    margin-left: 20px;
}

a{
    color:azure;
    text-decoration: none;
}

.active{
    color: rgb(0, 181, 187);
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 14px;
    }
    span{
        font-size: 14px;
    }

}