<div class="container">
  <div class="cards" fxLayout="row wrap" fxLayoutAlign="space-between">

        <mat-card class="global-cases" fxFlex="1 1 auto">
          <mat-card-header class="global-header">
            <mat-card-title class="global-title">Total Cases</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="cases-text">{{ globalData?.cases | number }}</p>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="global-cases" fxFlex="1 1 auto">
          <mat-card-header class="global-header">
            <mat-card-title class="global-title">Total Deaths</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="cases-text-deaths">{{ globalData?.deaths | number }}</p>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="global-cases" fxFlex="1 1 auto">
          <mat-card-header class="global-header">
            <mat-card-title class="global-title">Total Recovered</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="cases-recovered">{{ globalData?.recovered | number }}</p>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="global-cases" fxFlex="1 1 auto">
          <mat-card-header class="global-header">
            <mat-card-title class="global-title">New Cases</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="cases-text">{{ globalData?.todayCases | number }}</p>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="global-cases" fxFlex="1 1 auto">
          <mat-card-header class="global-header">
            <mat-card-title class="global-title">New Deaths</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="cases-text-deaths">{{ globalData?.todayDeaths | number }}</p>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="global-cases" fxFlex="1 1 auto">
          <mat-card-header class="global-header">
            <mat-card-title class="global-title">New Recoveries</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="cases-recovered">{{ globalData?.todayRecovered | number }}</p>
          </mat-card-content>
        </mat-card>
 
  </div>
  <div class="filter">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)" placeholder="Search by Country"
      />
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 data-table">
    <mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="cases"
      matSortDirection="desc"
    >
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef class="country-header">
          Country
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="country">
          {{ row?.country }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cases">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Total Cases
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="cases-confirmed">
          {{ row?.cases | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Active Cases</mat-header-cell>
        <mat-cell *matCellDef="let row" class="cases-active">
          {{ row?.active | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deaths">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total Deaths</mat-header-cell>
        <mat-cell *matCellDef="let row" class="cases-deaths">
          {{ row?.deaths | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="recovered">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Total Recovered
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="cases-recovered-countries">
          {{ row?.recovered | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="todayCases" class="todayCases">
        <mat-header-cell *matHeaderCellDef mat-sort-header>New Cases</mat-header-cell>
        <mat-cell *matCellDef="let row" class="cases-confirmed">
          {{ row?.todayCases | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="todayDeaths" class="todayDeaths">
        <mat-header-cell *matHeaderCellDef mat-sort-header>New Deaths</mat-header-cell>
        <mat-cell *matCellDef="let row" class="cases-deaths">
          {{ row?.todayDeaths | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="todayRecovered" todayRecovered>
        <mat-header-cell *matHeaderCellDef mat-sort-header>New Recovered</mat-header-cell>
        <mat-cell *matCellDef="let row" class="cases-recovered-countries">
          {{ row?.todayRecovered | number }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="mat-header"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
