.container{
    overflow-y: hidden;
}

.content{
    display: flex;
    overflow-y: hidden !important;
}

.title{
    justify-content: center;
    color: white;
    background-color: black;
}

.map{
    max-height: 80vh;
}